<div class="show">
<p><b> Nome Completo: </b> <%= @pessoa.nome + " " + @pessoa.sobrenome %></p>
<p><b> Empresa: </b><%= @pessoa.empresa %> </p>
<%=link_to 'Voltar', root_path, class:'botaoedit'%>

</div>
